@font-face {
	font-family: monsterratLight;
	src: url(Montserrat-Light.otf);
}

@font-face {
	font-family: monsterratHairLine;
	src: url(Montserrat-Hairline.otf);
}

@font-face {
	font-family: monsterratBold;
	src: url(Montserrat-Bold.otf);
}
@font-face {
	font-family: monsterratBlack;
	src: url(Montserrat-Black.otf);
}
@font-face {
	font-family: monsterratExtraBold;
	src: url(Montserrat-ExtraBold.otf);
}
@font-face {
	font-family: monsterratRegular;
	src: url(Montserrat-Regular.otf);
}
@font-face {
	font-family: monsterratSemiBold;
	src: url(Montserrat-SemiBold.otf);
}
@font-face {
	font-family: monsterratUltraLight;
	src: url(Montserrat-UltraLight.otf);
}

#theBody {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
}

#header {
	width: 100%;
	height: 7%;
	margin: 0px;
	background-color: #f2f2f2;
	position: absolute;
	border: solid 1px #e6e6e6;
	border-radius: 2px;
}

#headerTitle {
	color: black;
	font-family: monsterratLight;
	letter-spacing: 0.2em;
	font-size: 2em;
	margin-left: 3em;
	position: relative;
	vertical-align: middle;
}