@font-face {
	font-family: monsterratLight;
	src: url(Montserrat-Light.otf);
}

@font-face {
	font-family: monsterratHairLine;
	src: url(Montserrat-Hairline.otf);
}

@font-face {
	font-family: monsterratBold;
	src: url(Montserrat-Bold.otf);
}
@font-face {
	font-family: monsterratBlack;
	src: url(Montserrat-Black.otf);
}
@font-face {
	font-family: monsterratExtraBold;
	src: url(Montserrat-ExtraBold.otf);
}
@font-face {
	font-family: monsterratRegular;
	src: url(Montserrat-Regular.otf);
}
@font-face {
	font-family: monsterratSemiBold;
	src: url(Montserrat-SemiBold.otf);
}
@font-face {
	font-family: monsterratUltraLight;
	src: url(Montserrat-UltraLight.otf);
}

#iAmTheBody {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f2f2f2;
}

#leftSideHeader {
	margin: 0px;
	width: 14.8%;
	height: 100%;
	background-color: white;
	float: left;
	border: 1px solid #e6e6e6;
	position: absolute;
}

#textUnderPicture {
	text-align: center;
	font-family: monsterratLight;
	font-size: 2em;
}

#textUnderText {
	text-align: center;
	font-family: monsterratUltraLight;
	font-size: 1em;
}

#header {
	float: right;
	width: 84.85%;
	height: 7%;
	background-color: #ffffff;
	margin: 0px;
	border: 1px solid #e6e6e6;
	border-left: 0px;
}

#upWorkLogo {
	bottom: 0px;
	height: 15%;
	width: 100%;
	position: relative;
}

.socialLinks {
	height: 55px;
	width: 55px;
	bottom: 1px;
}